<%= button_to 'Log Out', destroy_user_session_path, method: :delete %>

<h2>Welcome <%= current_user.first_name %> to Twitter-Gram!</h2>

<%# button for editing profile %>

<h3>Here's your Bio:</h3>
<h3> <%= current_user.bio %> </h3>

<%= button_to 'New Post', new_user_post_path(@user.id), method: :get %>


<h3>All posts: </h3>

<% @user.posts.each do |post| %>
  <div><%= post.content %></div>
<% end %>

<%# display user's first name with every post %>

<%# be able to create your own new post %>

<%# post all users posts and comments %>

<%# be able to like a post %>




<%# next steps: create own text post
be able to see all text posts
full CRUD for posts
write comments on a post
be able to see all comments on posts
 %>