<h1><%= @post.id ? 'Edit Post' : 'Create Post' %></h1>
<hr />
<%= form_for [@user, @post] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content, required: true, autofocus: true %>
  <br />

  <%# future thought - add current_user first_name to every post%>

  <%# <%= f.label :body %> 
  <%# <%= f.text_area :body, required: true %> 
  <%= f.submit %>
<% end %>